<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>

<%-- set current locale to session --%>
<c:set var="language" value="${not empty param.language ? param.language : not empty language ? language : pageContext.request.locale}" scope="session" />
<fmt:setLocale value="${language}" />
<fmt:setBundle basename="resources" />

<c:choose>

<c:when test="${not empty language }">

<c:forEach var="l" items="${applicationScope.languages }">

<c:if test="${fn:contains(language, l.code)}">
<c:set var="lid" value="${l.id }" scope="session" />
</c:if>

</c:forEach>

</c:when>

<c:otherwise>
<c:set var="lid" value="${languages[0].id }" scope="session" />
</c:otherwise>
</c:choose>




<%-- Shot root path link --%>
<c:set var="rootPath" value="<%=getServletConfig().getServletContext().getContextPath()%>" scope="page" />
<%-- -- -- -- -- -- -- -- --%>

